<div class="panel panel-primary">
  <div class="panel-heading">Filter Projects</div>
  <div class="panel-body">
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Pending
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Open
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Closed
        </label>
      </div>

      <hr/>

      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> With Submissions
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Without Submissions
        </label>
      </div>

    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Fields</div>
  <div class="panel-body">
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Open Date
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Close Date
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Jurisdictions
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Subcontractors
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" checked="checked"> Indicators
        </label>
      </div>
    </form>
  </div>
</div>
