<div class="panel panel-primary">
  <div class="panel-heading">Options</div>
  <div class="panel-body">
    <form>
      <div class="radio">
        <label>
          <input type="radio" name="optionsView" id="optionsView-forms" value="forms" checked="checked">
          Show Forms
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsView" id="optionsView-fields" value="fields">
          Show Fields
        </label>
      </div>
    </form>
  </div>
</div>
