<div class="panel panel-primary">
  <div class="panel-heading">Filter Projects</div>
  <div class="panel-body">
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-status="pending" checked="checked"> Pending
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-status="open" checked="checked"> Open
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-status="completed" checked="checked"> Completed
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-status="confirmed" checked="checked"> Confirmed
        </label>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Fields</div>
  <div class="panel-body">
    <form>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-fieldset="jurisdictions" checked="checked"> Jurisdictions
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-fieldset="subcontractors" checked="checked"> Subcontractors
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-fieldset="indicators" checked="checked"> Indicators
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-fieldset="forms" checked="checked"> Forms
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" data-fieldset="forms" checked="checked"> Submissions
        </label>
      </div>
    </form>
  </div>
</div>
